.category-page {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}


.question-card {
  background-color: #fdf6ef;
color: #6b4213e0 ;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: left;
}

.question-card h4 {
  margin-bottom: 10px;
}

.sample-answer {
  background-color: #fff;
  padding: 12px;
  border-left: 4px solid #6b4213e0;
  margin-top: 10px;
  border-radius: 6px;
}

.btn {
  margin: 10px 10px 5px 0;
  padding: 8px 16px;
  border: solid black 1px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn.record {
 background-color: #fdf6ef;
color: #6b4213e0 ;
border: solid black 1px;
}

.btn.stop {
  background-color: #dc3545;
  color: white;
}

.back-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
 background-color: #fdf6ef;
color: #6b4213e0 ;
  text-decoration: none;
  border-radius: 8px;
}

.btn.delete {
  background-color: #6c757d;
  color: white;
  margin-left: 10px;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}

.category-box {
  background-color: #fdf6ef;
color: #6b4213e0 ;
  padding: 25px 40px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.category-box:hover {
  transform: scale(1.05);
}

.cate-main {
  text-decoration: none;
  color: inherit;
}

